.vscode/
examples/

# LaTeX build output
out/*
!out/*.pdf
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
sections/introduction.bak
discour.md
omar_anser_pub.bib
.gitignore
main.bak
sections/introduction.bak
sections/TATA/slides.bak
sections/draft.tex
figures/introduction/ANSSI-panorama-de-la-cybermenace-2024.pdf
